* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

html,
.body-01 {
  height: 100%;
}

.body-01 {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.body-01 button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: white;
}

.go-back {
  position: absolute;
  top: 0px;
  left: 10px;
}

.timer {
  display: flex;
  gap: 15px;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field .value {
  font-size: 30px;
  text-transform: uppercase;
}

.field .label {
  text-transform: uppercase;
}
